<p>flex-box works! Hello</p>
<!--<div class="flex-container">-->
<!--  <div class="flex-container__item">1</div>-->
<!--  <div class="flex-container__item">2 <br> iiuiu <br> jhjhjh</div>-->
<!--  <div class="flex-container__item">3</div>-->
<!--  <div class="flex-container__item">4</div>-->
<!--  <div class="flex-container__item">5</div>-->
<!--  <div class="flex-container__item">6</div>-->
<!--  <div class="flex-container__item">7</div>-->
<!--  <div class="flex-container__item">8</div>-->
<!--  <div class="flex-container__item">9</div>-->
<!--</div>-->

<div class="flex">
  <div>1</div>
  <div>2</div>
</div>
