@use "sass:math";
@import "variables";

@mixin container {
  max-width: math.div(1200, 16) * 1rem;
  margin: 0 auto;
  padding: 0 $space;
}

@mixin container-fluid {
  padding: 0 $space * 3;
}

@mixin box-shadow-1 {
  box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%)!important;
}
@mixin box-shadow-2 {
  box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%)!important;
}

@mixin button {
  display: inline-block;
  width: 100px;
}

@mixin page {
  display: block;

  .a {
    color: aqua;

    &:hover {
      color: azure;
    }
  }
}
