@use "sass:math";

@mixin box-shadow-1 {
  box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%)!important;
}
@mixin box-shadow-2 {
  box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%)!important;
}

@mixin button {
  display: inline-block;
  width: 100px;
}

@mixin page {
  display: block;

  .a {
    color: aqua;

    &:hover {
      color: azure;
    }
  }
}
