<div class="theme-wrapper DEFAULT-THEME">
  <mat-toolbar color="primary">Hello</mat-toolbar>

  <h1>Hello my dear friend let mi</h1>
  <button mat-flat-button color="primary">Hello</button>
  <button mat-flat-button color="accent">Hello</button>
  <button mat-flat-button color="warn">Hello</button>

  <a href="#" class="link">Link</a>

  <div class="example">
    Example
  </div>

  <div style="padding: 30px">
    <mat-card class="hover-translate-y-n10 hover-shadow-1">Card text</mat-card>
  </div>
</div>

