<p style="width: 200px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda debitis ipsum necessitatibus non, officia quaerat ut velit veritatis! Ab aperiam, dignissimos est fugiat incidunt itaque maxime molestiae nam nemo obcaecati praesentium quidem quos reiciendis sequi totam vitae voluptatem. Dicta ex exercitationem veritatis voluptatum? Aliquam error est eum ex nulla reprehenderit soluta, totam veniam voluptates? Fugit itaque placeat vitae.
</p>
<app-header></app-header>
<main>
  <router-outlet></router-outlet>
</main>
